.container {
    position: relative;
    width: 437px;
    height: 347px;
    border-style: solid;
    border-color: #ACABAB;
    border-width: thin;
    margin-bottom: 20px;
    border-radius: 10px;

    /* header */
    .header {
        position: relative;
        border-radius: 10px 10px 0 0;
        width: 437px;
        height: 70px;
        background-color: rgb(219, 76, 63);

        .id {
            position: absolute;
            top: 13px;
            left: 8px;

            width: 42px;
            height: 45px;



            color: white;
            font-weight: bold;
            font-size: 30px;
            text-align: center;
            vertical-align: middle;
            line-height: 45px;
        }
        .name {
            position: absolute;
            top: 13px;
            right: 60px;

            width: 298px;
            height: 45px;

            font-weight: bold;
            font-size: 30px;
            color: white;
            text-align: center;
            vertical-align: middle;
            line-height: 45px;
        }
    }

    /* body */
    .body {
        position: relative;
        width: 400px;
        height: 190px;
        .description {
            position: absolute;
            top: 16px;
            left:  25px;

            max-width: 386px;
            height: 182px;

            text-align: left;
            word-wrap: break-word;
        }
    }

    /* footer */
    .footer {
        position: relative;
        width: 437px;
        height: 88px;
        border-top-style: solid;
        border-top-width: thin;
        border-color: #ACABAB;

        .status {
            position: absolute;
            top: 18px;
            left: 20px;

            width: 208px;
            height: 50px;
            text-align: center;
            vertical-align: middle;
            line-height: 50px;


        }

        .doneButton {
            position: absolute;
            top: 18px;
            right: 19px;
            width: 137px;
            height: 49px;

            border-radius: 15px;
            border: none;
            background-color: rgb(219, 76, 63);
            cursor: pointer;

            color: white;
            font-weight: bolder;
            text-align: center;
            text-decoration: none;

        }
    }
}










