.container {
    position: relative;
    width: 673px;
    height: 200px;
    border-style: solid;
    border-color: #ACABAB;
    border-width: thin;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-top: 54px;
    /* header */
    .header {
        position: relative;
        width: 673px;
        height: 55px;
        border-bottom-color: #ACABAB;
        border-bottom-width: thin;
        border-bottom-style: solid;

        .nameInput {
            position: absolute;
            top: 9px;
            left: 11px;
            display: block;

            border-radius: 10px;
            border-style: none;
            width: 400px;
            height: 38px;

            font-weight: bolder;
            font-size: 24px;
            color: black;
            text-align: left;
            vertical-align: middle;
            line-height: 45px;
        }
    }


    /* body */
    .body {
        position: relative;
        width: 673px;
        height: 83px;

        .textArea {
            position: absolute;
            top: 4px;
            left: 11px;
            min-width: 647px;
            max-width: 647px;
            min-height: 65px;
            max-height: 65px;
            resize: none;
            border: none;

        }
    }

    /* footer */
    .footer {
        position: relative;
        width: 673px;
        height: 69px;

        .addButton {
            position: absolute;
            bottom: 11px;
            right: 15px;
            width: 137px;
            height: 49px;

            border-radius: 15px;
            border: none;
            background-color: rgb(219, 76, 63);
            cursor: pointer;

            color: white;
            font-weight: bolder;
            text-align: center;
            text-decoration: none;

        }
    }

}



