.container {
  position: relative;
  margin: 63px 67px;
  width: 247px;
  height: 140px;
  background-color: #C4C4C4;
  .nameInput{
    position: absolute;
    width: 218px;
    height: 51px;
    top: 19px;
    left: 14px;

    border-radius: 10px;
    border-style: none;
  }
  .createButton{
    position: absolute;
    background-color: #DB4C3F;
    width: 105px;
    height: 48px;
    bottom: 8px;
    left: 71px;

    border-radius: 10px;
    border-style: none;

    color: white;
  }
}