.tasks-container {
    position: absolute;
    font-family: 'Hind Guntur', sans-serif;
    width: 500px;
    height: 100%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


